<ion-modal-view class="app_modal">
  <ion-content>
    <div class="chat_top_bar">
      <div class="back_button" ng-click="go_back_from_filter_modal();"></div>
    </div>
    <div class="filters">
      <div class="filter_interesado_en_txt">Interesado en conocer</div>
      <div class="filter_group filter_interesado_en">
        <div id="filter_interesado_en_hombres" class="filter_button filter_interesado_en" ng-click="toggleFilterInteresadoEn('Hombres')">Hombres</div>
        <div id="filter_interesado_en_mujeres" class="filter_button filter_interesado_en" ng-click="toggleFilterInteresadoEn('Mujeres')">Mujeres</div>
        <div id="filter_interesado_en_personas" class="filter_button filter_interesado_en active" ng-click="toggleFilterInteresadoEn('Personas en general')">Personas en general</div>
      </div>
      <div class="filter_online_txt">Mostrar sólo a personas online</div>
      <ion-toggle class="filter_people_online_toggle" ng-model="filter.filter_people_online"></ion-toggle>
      <div class="filter_rango_de_txt">Buscar personas en un rango de</div>
      <input type="range" class="filter_people_range" name="rangeBar" value="{{filter.filter_people_distance_range}}" min="0" max="100" ng-model="filter.filter_people_distance_range">

      <div class="filter_rango_de_value_txt">{{filter.filter_people_distance_range}} km <span ng-if="filter.filter_people_distance_range == 0">(Todas las personas)</span></div>
      <div class="filter_save_button" ng-click="go_back_from_filter_modal();">GUARDAR</div>

    </div>
  </ion-content>
</ion-modal-view>
