<ion-modal-view class="login_modal">
    <ion-content direction="y" class="new-report-scroll">
      <div ng-if="login.warning!=null" class="warning">
        <div class="warning-header">Error</div>
        <div class="warning-text">{{login.warning}}</div>
      </div>
      <div class="login_app_name">
        {{AppName}}
      </div>
      <input class="login_user_input" type="usuario" placeholder="usuario" ng-model="nonauth.user"/>
      <div class="login_user_input_border"></div>
      <input class="login_user_password" placeholder="contraseña" type="password" ng-model="nonauth.password"/>
      <div class="login_user_password_border"></div>
      <a ng-click="forgot_password()" class="login_forgot_password">¿olvidaste tu contraseña?</a>
      <button class="login_access_button" ng-click="login_ok()">ENTRAR</button>
      <div class="login_new_account_text">
       ¿No tenés cuenta?
      </div>
      <button class="login_sign_up_button" ng-click="show_sign_up_modal()">REGISTRARME</button>
    </ion-content>
    <div id="spinner-inside-modal" class="modal-spinner"><h3>Aguarde por favor</h3><ion-spinner icon="spiral"></ion-spinner><h3 id="sent_label">Enviado: 100%</h3></div>
</ion-modal-view>
