<ion-modal-view class="app_modal">
  <ion-content>
    <div class="chat_top_bar">
      <div class="back_button" ng-click="close_invitation_modal();"></div>
      <div class="chat_other_user_name">{{chat.other_user.username}}</div>
      <div class="chat_other_user_online_status {{chat.other_user.online_status}}">{{chat.other_user.online_status}}</div>
      <div class="chat_other_user_picture" style="background: url({{chat.other_user.picture_url}}) no-repeat center;"></div>
    </div>
      <ion-scroll direction="y" class="private_chat_scroll" delegate-handle="content">
        <div ng-repeat="message in chat.messages track by $index" class="invitation">
          <div ng-if="message.uid == chat.my_uid" class="message_photo_my" style="background-image: url('{{chat.my_picture_url}}');"></div>
          <div ng-if="message.uid == chat.other_user.uid" class="date_other">
            {{timeConverter(message.created)}}
          </div>
          <div class="message_text_div">
            {{message.texto}}
          </div>
          <div ng-if="message.uid == chat.my_uid" class="date_my">
            {{timeConverter(message.created)}}
          </div>
          <div ng-if="message.uid == chat.other_user.uid" class="message_photo_other" style="background-image: url('{{chat.other_user.picture_url}}');"></div>
          <a id="message-{{message.nid}}"></a>
        </div>
        <div style="height: 50px"></div>
          <div ng-click="openSingleInvitationModalFromChat({{chat.other_user.uid}})" class="new_drink_invitation_button_inside_chat">
            NUEVA INVITACIÓN
          </div>
        <div style="height: 20px"></div>
      </ion-scroll>
      <div class="chat_message_options">
        <textarea placeholder="Escribe aquí..." ng-keyUp="key_press($event,'private_chat')" id="message_text_area" class="chat_message_textarea" ng-model="chat.new_text_message"></textarea>
        <div ng-click="send_message_ok()" class="send_message_button">
          OK
        </div>
      </div>
      <div style="height: 150px"></div>
    </ion-content>
    <div id="spinner-inside-modal" class="modal-spinner"><ion-spinner icon="spiral"></ion-spinner></div>
</ion-modal-view>
